<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image data</th>
      <th>Suburb</th>

    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to "#{profile.first_name} #{profile.last_name}", profile %></td>
        <td><%= image_tag profile.image_url(:large) if profile.image_data.present? %></td>
        <td><%= "#{profile.suburb}, #{profile.state}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if signed_in? %>
  <%= link_to 'Create my profile', 
  new_profile_path if current_user.profile.nil? %>
<% end %>
