<div class = container>

<h3>Mailbox</h3>
    <ul>
      <% if @conversations.present? %>
        <% @conversations.each do |conversation| %>
          <li><%= link_to "Re: #{conversation.listing.title}", conversation_messages_path(conversation) %> | 
          <%= link_to other_user(conversation).full_name, other_user(conversation) %> | Last message: 
          <%= format_last_message_time(conversation.messages.last.created_at) %></li>
        <% end %>
      <% end %>
    </ul>
</div>
