@import "foundation_and_overrides";
@import "messages";

$white-text: #d6d5d5;
$landing-bar-height: 200px;
$top-bar-height: 45px;
$footer-height: 60px;
$dark-green: #2a4c24;
$hover-green: #36632e;
$brown: #5a482d;

* {
  transition: 0.3s;
}

body {
  background: rgb(241, 241, 241);
  margin: 0;
}

button, .button, input {
  opacity: 0.8;
}

input[type="submit"],  {
  width: 150px;
  background: #2a4c24;
  border-radius: 5px;
  color: $white-text;
  padding: 10px;
}
input[type="submit"]:hover {
  background: $hover-green;
}

input[type="file"] {
  @extend input[type="submit"];
  width: auto;
}

.content {
  margin: 0;
  padding-top: $top-bar-height;
  padding-bottom: 20px;
  min-height: 100vh;
}
.top-bar {
  position: fixed;
  top:0;
  height: $top-bar-height;
  width: 100%;
  background: $brown;
  color: $white-text;

  .name {
    line-height: $top-bar-height;   
    h1 {
      display: inline-block;
      a {color: $white-text;
      }
    } 
  }
  .top-bar-section ul li > a {
    color: $white-text;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: $brown;  
    color: $white-text;    
  }
  .top-bar-section li:not(.has-form) a:not(.button):hover{
    background: rgb(73, 55, 32);
  }
}

.landing_bar {
  @extend .top-bar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -$top-bar-height;
  position: relative;  
  height: $landing-bar-height;
  border-bottom: #585858 10px solid;
  h1,h2 {
  color: $white-text;
  text-align: center;
  }
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 450px;
  padding: 10px;
  text-align: center;
  background: image-url('logo-big.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .button {
    width: 200px;
    background: $dark-green;
    border-radius: 5px;
    color: $white-text;
    margin: 10px auto;
    opacity: 0.8;
  }
  .button:hover {
  background: $hover-green;
  color: $white-text;  
  }
}

.container {
  @extend .landing-container;
  background: none;
  text-align: left;
  border-bottom: none;
  height: auto;
  .button {
    width: 150px;
    text-align: center;
    padding: 10px;
  }
}

.listings-container {
  margin: auto;
  max-width: 600px;
}

.card {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  background: rgb(228, 228, 228);
  .card-left {
    width: 120px;
    padding: 10px;
    align-self: center;
  }
  .card-right {
  }

}